/* 기본 테마 (라이트 모드) */
:root {
  --bg-body: #f5f6f7;        /* 전체 배경 */
  --bg-card: #ffffff;        /* 박스 배경 */
  --color-main: #080808;     /* 메인 글자색 */
  --color-sub: #666666;      /* 보조 글자색 */
  --border-line: #ebebeb;    /* 테두리 색 */
  --naver-green: #03cf5d;
}

/* 시스템이 다크모드일 때 자동으로 교체될 값 */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #101012;      /* 아주 어두운 배경 */
    --bg-card: #1e1f21;      /* 어두운 회색 박스 */
    --color-main: #f5f6f7;   /* 밝은 글자색 */
    --color-sub: #a0a0a0;    /* 연한 회색 글자 */
    --border-line: #303033;  /* 어두운 테두리 */
  }
}

/* 모든 화면에 공통 적용 */
html, body {
  background-color: var(--bg-body) !important;
  color: var(--color-main) !important;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease; /* 색상 변할 때 부드럽게 */
  width: 100%;
  height: 100%;
}

.search-area {
  display: flex;
  border: 2px solid var(--naver-green);
  background-color: var(--bg-card);
  width: 100%;        /* 부모 요소(header-inner) 안에서 꽉 차게 */
  max-width: 700px;   /* 최대 700px까지만 커지도록 설정 */
  margin: 0 20px;     /* 로고와 메뉴 사이 여백 */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}